# Virtual environment
venv/
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db


# Model files
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

# Logs
logs/
*.log

# Temporary files
tmp/
temp/